In [1]:
# 데이터 출력

import pandas as pd
import numpy as np
df = pd.read_csv(r'C:\Users\최미숙\OneDrive\바탕 화면\데이터 분석 부트캠프 관련 파일\2025_Airbnb_NYC_listings.csv')
df

,Unnamed: 0,id,source,name,description,neighborhood_overview,host_id,host_name,host_since,host_location,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,36121,city scrape,Lg Rm in Historic Prospect Heights,Cozy space share in the heart of a great neigh...,Full of tree-lined streets and beautiful brown...,62165,Michael,2009-12-11,"New York, NY",...,5.00,5.00,5.00,NaN,f,1,0,1,0,0.05
1,1,36647,city scrape,"1 Bedroom & your own Bathroom, Elevator Apartment",Private bedroom with your own bathroom in a 2 ...,"Manhattan, SE corner of 2nd Ave/ E. 110th street",157798,Irene,2010-07-04,"New York, NY",...,4.90,4.38,4.71,NaN,f,1,0,1,0,0.58
2,2,38663,city scrape,Luxury Brownstone in Boerum Hill,"Beautiful, large home in great hipster neighbo...","diverse, lively, hip, cool: loaded with restau...",165789,Sarah,2010-07-13,"New York, NY",...,4.88,4.86,4.62,OSE-STRREG-0001784,f,1,0,1,0,0.28
3,3,38833,city scrape,Spectacular West Harlem Garden Apt,This is a very large and unique space. An inc...,West Harlem is now packed with great restauran...,166532,Matthew,2010-07-14,"New York, NY",...,4.96,4.79,4.82,OSE-STRREG-0000476,f,1,1,0,0,1.36
4,4,39282,city scrape,“Work-from-home” from OUR home.,*Monthly Discount will automatically apply <br...,THE NEIGHBORHOOD:<br />Our apartment is locate...,168525,Gustavo,2010-07-16,"New York, NY",...,4.88,4.85,4.78,OSE-STRREG-0001150,f,2,0,2,0,1.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22303,37429,1366333532374850165,city scrape,Beautiful 1-Bed Apt in Harlem!,Welcome to your temporary home in the vibrant ...,NaN,40019013,Cecilia,2015-07-30,"New York, NY",...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
22304,37430,1366717321390111215,city scrape,Private Room w/ Ensuite Bath H,Stylish Private Rooms w/ En-Suite Baths in Bro...,NaN,483056418,Kristina,2022-10-10,"New York, NY",...,NaN,NaN,NaN,NaN,f,24,0,24,0,NaN
22305,37431,1366721904709517353,city scrape,2 Bedroom on East Side,Located in the Murray Hill area and occupies a...,NaN,30283594,Global Luxury Suites,2015-03-30,"Hawthorne, NJ",...,NaN,NaN,NaN,NaN,f,48,48,0,0,NaN
22306,37432,1366722692755341871,city scrape,Stylish 2Bd near Bryant Park,Enjoy everything the city has to offer while l...,NaN,407304997,Boomerang,2021-06-15,"New York, NY",...,NaN,NaN,NaN,NaN,t,25,25,0,0,NaN
22307,37433,1366723228243064949,city scrape,Modern Private Room + Bath H,Stylish Private Rooms w/ En-Suite Baths in Bro...,NaN,483056418,Kristina,2022-10-10,"New York, NY",...,NaN,NaN,NaN,NaN,f,24,0,24,0,NaN

In [5]:
df['room_type'].value_counts()

room_type
Entire home/apt    12664
Private room        9186
Hotel room           372
Shared room           86
Name: count, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22308 entries, 0 to 22307
Data columns (total 73 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Unnamed: 0                                    22308 non-null  int64
 1   id                                            22308 non-null  int64
 2   source                                        22308 non-null  object
 3   name                                          22308 non-null  object
 4   description                                   21903 non-null  object
 5   neighborhood_overview                         12262 non-null  object
 6   host_id                                       22308 non-null  int64
 7   host_name                                     22288 non-null  object
 8   host_since                                    22288 non-null  object
 9   host_location                                 17025 non-null  object
 10  host_about                                    13391 non-null  object
 11  host_response_time                            17915 non-null  object
 12  host_response_rate                            17915 non-null  object
 13  host_acceptance_rate                          18842 non-null  object
 14  host_is_superhost                             21934 non-null  object
 15  host_neighbourhood                            17578 non-null  object
 16  host_listings_count                           22288 non-null  float64
 17  host_total_listings_count                     22288 non-null  float64
 18  host_verifications                            22288 non-null  object
 19  host_has_profile_pic                          22288 non-null  object
 20  host_identity_verified                        22288 non-null  object
 21  neighbourhood                                 12262 non-null  object
 22  neighbourhood_cleansed                        22308 non-null  object
 23  neighbourhood_group_cleansed                  22308 non-null  object
 24  latitude                                      22308 non-null  float64
 25  longitude                                     22308 non-null  float64
 26  property_type                                 22308 non-null  object
 27  room_type                                     22308 non-null  object
 28  accommodates                                  22308 non-null  int64
 29  bathrooms                                     22302 non-null  float64
 30  bathrooms_text                                22294 non-null  object
 31  bedrooms                                      22259 non-null  float64
 32  beds                                          22229 non-null  float64
 33  amenities                                     22308 non-null  object
 34  price                                         22308 non-null  object
 35  minimum_nights                                22308 non-null  int64
 36  maximum_nights                                22308 non-null  int64
 37  minimum_minimum_nights                        22308 non-null  float64
 38  maximum_minimum_nights                        22308 non-null  float64
 39  minimum_maximum_nights                        22308 non-null  float64
 40  maximum_maximum_nights                        22308 non-null  float64
 41  minimum_nights_avg_ntm                        22308 non-null  float64
 42  maximum_nights_avg_ntm                        22308 non-null  float64
 43  calendar_updated                              0 non-null      float64
 44  has_availability                              22062 non-null  object
 45  availability_30                               22308 non-null  int64
 46  availability_60                               22308 non-null  int64
 47  availability_90                               22308 non-null  int64
 48  availability_365                              22308 non-null  int64
 49  calendar_last_scraped                         22308 non-null  object
 50  number_of_reviews                             22308 non-null  int64
 51  number_of_reviews_ltm                         22308 non-null  int64
 52  number_of_reviews_l30d                        22308 non-null  int64
 53  availability_eoy                              22308 non-null  int64
 54  number_of_reviews_ly                          22308 non-null  int64
 55  estimated_occupancy_l365d                     22308 non-null  int64
 56  estimated_revenue_l365d                       22308 non-null  float64
 57  first_review                                  15510 non-null  object
 58  last_review                                   15510 non-null  object
 59  review_scores_rating                          15510 non-null  float64
 60  review_scores_accuracy                        15510 non-null  float64
 61  review_scores_cleanliness                     15510 non-null  float64
 62  review_scores_checkin                         15510 non-null  float64
 63  review_scores_communication                   15510 non-null  float64
 64  review_scores_location                        15509 non-null  float64
 65  review_scores_value                           15510 non-null  float64
 66  license                                       4463 non-null   object
 67  instant_bookable                              22308 non-null  object
 68  calculated_host_listings_count                22308 non-null  int64
 69  calculated_host_listings_count_entire_homes   22308 non-null  int64
 70  calculated_host_listings_count_private_rooms  22308 non-null  int64
 71  calculated_host_listings_count_shared_rooms   22308 non-null  int64
 72  reviews_per_month                             15510 non-null  float64
dtypes: float64(23), int64(20), object(30)
memory usage: 12.4+ MB

In [ ]:

# 필요한 컬럼 선택하기
# 'review'가 포함된 컬럼
df_review = df.iloc[:,56:65+1]

# 숫자형 데이터 컬럼만 선택하기 (날짜형 object 제거)
df_review_num = df_review.select_dtypes(include=['number']).columns